<a href="https://colab.research.google.com/github/kaoharrison/Introduction-to-Data-Science/blob/master/week16_A108260061_%E9%AB%98%E6%9A%90%E8%BB%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
i = 1
while (i < 6):
    print(i)
    if i == 3:
       break
    i += 1

1
2
3

In [2]:
i = 0
while (i < 5):
    i += 1
    if i == 3:
       continue
    print(i)

1
2
4
5

In [4]:
answer = 'b246'

while True:
    password = input('Enter your password? ')
    if password == answer:
        print('ENTER YOUR SYSTEM')
        break
    else:
         print('Try Again')

Enter your password? b246
ENTER YOUR SYSTEM

In [5]:
password = "a123456"
times = 0

while times <= 3:
    answer = input("Enter Your Password: ")
    if answer == password: 
        print("登入成功")
        break 
    else:
        times = times + 1
        chance = 3 - times
        print("密碼錯誤！還有", chance, "次機會")

Enter Your Password: thf
密碼錯誤！還有 2 次機會
Enter Your Password: yfikl
密碼錯誤！還有 1 次機會
Enter Your Password: a123456
登入成功