<a href="https://colab.research.google.com/github/kaoharrison/Introduction-to-Data-Science/blob/master/week6_A108260061_%E9%AB%98%E6%9A%90%E8%BB%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
第一次期中考成績=75
第二次期中考成績=80
期末考成績=65

print(第一次期中考成績 + 第二次期中考成績 + 期末考成績)

print((第一次期中考成績 + 第二次期中考成績 + 期末考成績)/3)

220
73.33333333333333

In [0]:
y=int(input('請輸入幾尺'))
t=int(input('請輸入幾吋'))
answer=(y*12+t)*2.54

print(answer)

請輸入幾尺5
請輸入幾吋8
172.72

In [1]:
x=19
y=5
a=x/y
b=x%y
print(a)
print(b)

3.8
4

In [2]:
a=30/12
b=20*30
c=((30-30%12)/12*200)+((30%12)*20)
print(a)
print(b)
print(c)

2.5
600
520.0

In [3]:
KB=2**10 
MB=2**20
GB=2**30
TB=2**40
PB=2**50
EB=2**60
ZB=2**70
YB=2**80
print(KB)
print(MB)
print(GB)
print(TB)
print(PB)
print(EB)
print(ZB)
print(YB)

1024
1048576
1073741824
1099511627776
1125899906842624
1152921504606846976
1180591620717411303424
1208925819614629174706176