<a href="https://colab.research.google.com/github/kaoharrison/Introduction-to-Data-Science/blob/master/week16_A108260061_%E9%AB%98%E6%9A%90%E8%BB%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
i = 1
while (i < 6):
    print(i)
    if i == 3:
       break
    i += 1

1
2
3

In [2]:
i = 0
while (i < 5):
    i += 1
    if i == 3:
       continue
    print(i)

1
2
4
5

In [4]:
answer = 'b246'

while True:
    password = input('Enter your password? ')
    if password == answer:
        print('ENTER YOUR SYSTEM')
        break
    else:
         print('Try Again')

Enter your password? b246
ENTER YOUR SYSTEM

In [5]:
password = "a123456"
times = 0

while times <= 3:
    answer = input("Enter Your Password: ")
    if answer == password: 
        print("登入成功")
        break 
    else:
        times = times + 1
        chance = 3 - times
        print("密碼錯誤！還有", chance, "次機會")

Enter Your Password: thf
密碼錯誤！還有 2 次機會
Enter Your Password: yfikl
密碼錯誤！還有 1 次機會
Enter Your Password: a123456
登入成功

In [6]:
for i in range(5):
    print(i)

for i in range(3):
    print("hi")

import random
for i in range(10):
    r = random.randint(1,100)
    print(r)

for i in range(100):
    r = random.randint(1,1000)
    print("第", i, "個隨機變數的值是", r)

t = 0
for i in range(100):
    t += 50
    print("第", i, "個數是", t )

0
1
2
3
4
hi
hi
hi
3
77
36
74
52
81
94
52
92
32
第 0 個隨機變數的值是 317
第 1 個隨機變數的值是 384
第 2 個隨機變數的值是 266
第 3 個隨機變數的值是 721
第 4 個隨機變數的值是 731
第 5 個隨機變數的值是 3
第 6 個隨機變數的值是 999
第 7 個隨機變數的值是 445
第 8 個隨機變數的值是 222
第 9 個隨機變數的值是 931
第 10 個隨機變數的值是 454
第 11 個隨機變數的值是 150
第 12 個隨機變數的值是 541
第 13 個隨機變數的值是 9
第 14 個隨機變數的值是 311
第 15 個隨機變數的值是 290
第 16 個隨機變數的值是 763
第 17 個隨機變數的值是 73
第 18 個隨機變數的值是 184
第 19 個隨機變數的值是 919
第 20 個隨機變數的值是 51
第 21 個隨機變數的值是 70
第 22 個隨機變數的值是 949
第 23 個隨機變數的值是 138
第 24 個隨機變數的值是 480
第 25 個隨機變數的值是 11
第 26 個隨機變數的值是 178
第 27 個隨機變數的值是 491
第 28 個隨機變數的值是 93
第 29 個隨機變數的值是 849
第 30 個隨機變數的值是 834
第 31 個隨機變數的值是 309
第 32 個隨機變數的值是 681
第 33 個隨機變數的值是 812
第 34 個隨機變數的值是 320
第 35 個隨機變數的值是 485
第 36 個隨機變數的值是 676
第 37 個隨機變數的值是 138
第 38 個隨機變數的值是 945
第 39 個隨機變數的值是 991
第 40 個隨機變數的值是 909
第 41 個隨機變數的值是 138
第 42 個隨機變數的值是 891
第 43 個隨機變數的值是 679
第 44 個隨機變數的值是 12
第 45 個隨機變數的值是 176
第 46 個隨機變數的值是 254
第 47 個隨機變數的值是 170
第 48 個隨機變數的值是 287
第 49 個隨機變數的值是 318
第 50 個隨機變數的值是 787
第 51 個隨機變數的值是 985
第 52 個隨機變數的值是 805
第 53 個隨機變數的值是 540
第 54 個隨機變數的值是 775
第 55 個隨機變數的值是 960
第 56 個隨機變數的值是 977
第 57 個隨機變數的值是 776
第 58 個隨機變數的值是 506
第 59 個隨機變數的值是 504
第 60 個隨機變數的值是 613
第 61 個隨機變數的值是 142
第 62 個隨機變數的值是 320
第 63 個隨機變數的值是 608
第 64 個隨機變數的值是 422
第 65 個隨機變數的值是 315
第 66 個隨機變數的值是 504
第 67 個隨機變數的值是 469
第 68 個隨機變數的值是 155
第 69 個隨機變數的值是 224
第 70 個隨機變數的值是 197
第 71 個隨機變數的值是 104
第 72 個隨機變數的值是 365
第 73 個隨機變數的值是 130
第 74 個隨機變數的值是 92
第 75 個隨機變數的值是 467
第 76 個隨機變數的值是 808
第 77 個隨機變數的值是 788
第 78 個隨機變數的值是 691
第 79 個隨機變數的值是 926
第 80 個隨機變數的值是 391
第 81 個隨機變數的值是 356
第 82 個隨機變數的值是 343
第 83 個隨機變數的值是 9
第 84 個隨機變數的值是 301
第 85 個隨機變數的值是 873
第 86 個隨機變數的值是 753
第 87 個隨機變數的值是 376
第 88 個隨機變數的值是 345
第 89 個隨機變數的值是 249
第 90 個隨機變數的值是 377
第 91 個隨機變數的值是 215
第 92 個隨機變數的值是 729
第 93 個隨機變數的值是 333
第 94 個隨機變數的值是 153
第 95 個隨機變數的值是 595
第 96 個隨機變數的值是 91
第 97 個隨機變數的值是 930
第 98 個隨機變數的值是 588
第 99 個隨機變數的值是 770
第 0 個數是 50
第 1 個數是 100
第 2 個數是 150
第 3 個數是 200
第 4 個數是 250
第 5 個數是 300
第 6 個數是 350
第 7 個數是 400
第 8 個數是 450
第 9 個數是 500
第 10 個數是 550
第 11 個數是 600
第 12 個數是 650
第 13 個數是 700
第 14 個數是 750
第 15 個數是 800
第 16 個數是 850
第 17 個數是 900
第 18 個數是 950
第 19 個數是 1000
第 20 個數是 1050
第 21 個數是 1100
第 22 個數是 1150
第 23 個數是 1200
第 24 個數是 1250
第 25 個數是 1300
第 26 個數是 1350
第 27 個數是 1400
第 28 個數是 1450
第 29 個數是 1500
第 30 個數是 1550
第 31 個數是 1600
第 32 個數是 1650
第 33 個數是 1700
第 34 個數是 1750
第 35 個數是 1800
第 36 個數是 1850
第 37 個數是 1900
第 38 個數是 1950
第 39 個數是 2000
第 40 個數是 2050
第 41 個數是 2100
第 42 個數是 2150
第 43 個數是 2200
第 44 個數是 2250
第 45 個數是 2300
第 46 個數是 2350
第 47 個數是 2400
第 48 個數是 2450
第 49 個數是 2500
第 50 個數是 2550
第 51 個數是 2600
第 52 個數是 2650
第 53 個數是 2700
第 54 個數是 2750
第 55 個數是 2800
第 56 個數是 2850
第 57 個數是 2900
第 58 個數是 2950
第 59 個數是 3000
第 60 個數是 3050
第 61 個數是 3100
第 62 個數是 3150
第 63 個數是 3200
第 64 個數是 3250
第 65 個數是 3300
第 66 個數是 3350
第 67 個數是 3400
第 68 個數是 3450
第 69 個數是 3500
第 70 個數是 3550
第 71 個數是 3600
第 72 個數是 3650
第 73 個數是 3700
第 74 個數是 3750
第 75 個數是 3800
第 76 個數是 3850
第 77 個數是 3900
第 78 個數是 3950
第 79 個數是 4000
第 80 個數是 4050
第 81 個數是 4100
第 82 個數是 4150
第 83 個數是 4200
第 84 個數是 4250
第 85 個數是 4300
第 86 個數是 4350
第 87 個數是 4400
第 88 個數是 4450
第 89 個數是 4500
第 90 個數是 4550
第 91 個數是 4600
第 92 個數是 4650
第 93 個數是 4700
第 94 個數是 4750
第 95 個數是 4800
第 96 個數是 4850
第 97 個數是 4900
第 98 個數是 4950
第 99 個數是 5000

In [11]:
range(5)

range(0, 5)

In [13]:
start = int(input('請輸入加總開始值?'))
enter = int(input('請輸入加總終止值?'))
step = int(input('請輸入遞增減值?'))

sum = 0 #初始結果

for i in range(s, e, inc): #判斷條件

    sum = sum + i #更新結果
    print('i為', i, '加總結果為', sum)

請輸入加總開始值?2
請輸入加總終止值?23
請輸入遞增減值?3
i為 2 加總結果為 2
i為 5 加總結果為 7
i為 8 加總結果為 15
i為 11 加總結果為 26
i為 14 加總結果為 40
i為 17 加總結果為 57
i為 20 加總結果為 77